<!DOCTYPE html>
<html>
    <head>
        <title>
            My Web Page
        </title>
    </head>
    <body>
        
    </passing a variable in the web page/>
    <h5>
        This is {{var1}}
    </h5>

</adding an image to the web page />
<img src = "{{url_for('static', filename = '1.png')}}" >
        <p>
            In this class we will learn to create a flask API using the template. 
            I have used the render funtion from the Flask Module.
        </p>
        <p>Let's go to the web page</p>
    </body>
</html>